/* *********************************
  IMPORTS
  ************************************ */
@import url(../css/variables.css);
@import url(../css/typography.css);

/* *********************************
  SMALL RESET
 ************************************ */

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *********************************
  GENERAL
 ************************************ */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--lightest-color-tone);
}

button {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.site-title {
  color: var(--darkest-color-tone);
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

/* *********************************
  HEADER
  ************************************ */
.header {
  height: 6rem;
  background-color: var(--medium-green);
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  top: 0;
}

/* *********************************
  NAVIGATION
  ************************************ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* *********************************
 LOGO
 ************************************ */

.logo-container {
  display: flex;
  height: 6rem;
  padding: 0.1rem;
  margin-left: 1rem;
}

/* *********************************
  HAMBURGER MENU
  ************************************ */

.hamburger-menu {
  height: 5rem;
  width: 5rem;
  position: relative;
  background-color: var(--medium-green);
  margin-right: 1rem;
}

.hamburger-menu span {
  height: 0.2rem;
  width: 70%;
  border-radius: 2.5rem;
  background-color: var(--darkest-color-tone);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

/* ****ACTIVE**** */

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-navigation.active {
  right: 0;
}

/* *********************************
  OFF SCREEN MENU NAVIGATION
  ************************************ */

.off-screen-navigation {
  background-color: var(--medium-green);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  right: -100vw;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  transition: 0.3s ease;
}

.off-screen-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 2rem;
}

.off-screen-link {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--darkest-color-tone);
}

.off-screen-link:hover {
  text-shadow: 1px 1px 2px black;
}

.off-screen-link:visited {
  text-decoration: none;
  color: var(--darkest-color-tone);
}

a.off-screen-link.registration-button {
  border-radius: var(--main-border-radius);
  padding: 1rem;
  background-color: var(--lightest-color-tone);
}

/*  *********************************
    **********************************
    **********************************
    HOME 
    **********************************
    **********************************
    ********************************** */

/* *********************************
  HERO SECTION
 ************************************ */

.hero-section {
  background-color: var(--hero-background-color);
  height: 100vh;
  width: 100vw;
}

.hero-text-container {
  height: 100vh;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 2/3;
  background-repeat: no-repeat;
  color: var(--lightest-color-tone);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Mobile */

.hero-title-mobile {
  margin: 10rem 0rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  color: var(--soft-green);
  gap: 1rem;
}
.welcome-span-mobile {
  display: flex;
  flex-direction: column;
}

.fokus-fina-span-mobile {
  color: var(--medium-green);
  display: flex;
  flex-direction: column;
}

.hero-intro-mobile-version {
  display: flex;
  flex-direction: column;
  margin: 12rem 0 1.5rem 2rem;
}

/* BUTTON */

.hero-angebot-button {
  margin: 0 2rem;
  background-color: var(--medium-green);
}

.hero-angebot-button:hover {
  background-color: var(--soft-green);
}

/* Desktop ausgeblendet */

.welcome-span-desktop {
  display: none;
}

.fokus-fina-span-desktop {
  display: none;
}

.hero-intro-desktop-version {
  display: none;
}

/* *********************************
SLIDER SECTION
************************************ */
.img-slider-section {
  background-color: var(--soft-green);
  margin: var(--section-margin-top) 0;
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slides-title {
  padding-top: 2rem;
}

.img-slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  padding-top: clamp(1rem, 3.1vw, 2rem);
  position: absolute;
  width: 90%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s, opacity 0.5s;
}

.slider-img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--main-border-radius);
}

.slider-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 83%;
  background-color: #e9e0d292;
  border-radius: var(--main-border-radius);
  padding: 0.5rem;
}

.play-pause,
.right,
.left {
  background-color: var(--lightest-color-tone);
  padding: clamp(1rem, 2.7vw, 2rem);
  color: var(--darkest-color-tone);
  border: solid 1px var(--darkest-color-tone);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-pause:hover,
.right:hover,
.left:hover {
  background-color: var(--medium-green);
  color: var(--darkest-color-tone);
}

.left-animmation {
  transform: translateX(-100%);
  opacity: 0;
}

.right-animation {
  transform: translateX(100%);
  opacity: 0;
}

/* *********************************
  CONTACT SECTION
  ************************************ */
.form-container {
  margin-top: var(--section-margin-top);
  padding: 3rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  background-color: var(--soft-green);
}

.form-title {
  display: flex;
  justify-content: center;
}

.anrede-box,
.first-name-box,
.last-name-box,
.plz-box,
.ort-box,
.email-box {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
}

.nachricht-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-label {
  margin-bottom: 0.1rem;
}

.form-input {
  padding: 0.4rem;
}

#anrede {
  padding: 0.4rem;
}

.form-title,
.contact-form-img {
  margin-bottom: 1.5rem;
}
.street-box {
  gap: 0.2rem;
  display: flex;
  margin-bottom: 1rem;
}
.street-number-box,
.street-name-box {
  display: flex;
  flex-direction: column;
}

.street-number-box {
  width: 20%;
}
.street-name-box {
  width: 80%;
}

.contact-form-img-box-mobile {
  width: 5rem;
  height: auto;
}
.contact-form-img-box-desktop {
  display: none;
}

.contact-form-img-mobile {
  margin-bottom: 1rem;
  padding: 2rem;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 1rem 0.5rem 5rem 0rem grey inset;
}

.contact-form-img-desktop {
  display: none;
}
.error-message {
  color: var(--error-red-form-validation);
  margin-top: 0.5rem;
  display: flex;
}

.button-form {
  background-color: var(--button-color-grey);
  color: white;
}

/*  *********************************
    **********************************
    **********************************
    ANGEBOT
    **********************************
    **********************************
    ********************************** */

/*  *********************************
    **********************************
    **********************************
    PROJEKTE
    **********************************
    **********************************
    ********************************** */

.inspiration-container {
  padding: 4rem 2.5rem;
  gap: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lightest-color-tone);
  gap: 1rem;
  border: solid 0.1rem var(--darkest-color-tone);
  border-radius: var(--main-border-radius);
}

.thumbnails-slider {
  position: relative;
  overflow: hidden;
  width: 15rem;
  aspect-ratio: 2/3;
  display: flex;
  flex-direction: column;
}

.thumbnails-container {
  width: 100%;
  height: 100%;
}

.thumbnails {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--main-border-radius);
}

.inspiration p {
  color: var(--darkest-color-tone);
}

.project-year {
  color: var(--medium-green);
}

.inspiration h3 {
  width: 100%;
  color: var(--darkest-color-tone);
  padding: 1rem;
  background-color: var(--soft-green);
  display: flex;
  justify-content: center;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}

.project-description {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--lightest-color-tone);
  color: var(--darkest-color-tone);
  padding: 1rem;
}

.buttons-container-projects {
  display: flex;
}

.previous-thumbnail,
.next-thumbnail {
  background-color: var(--lightest-color-tone);
}

.previous-thumbnail:hover,
.next-thumbnail:hover {
  color: var(--medium-green);
}

.material-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.material-list {
  list-style: none;
  color: var(--darkest-color-tone);
}

/*  *********************************
    **********************************
    **********************************
    GALERIE
    **********************************
    **********************************
    ********************************** */

.title-galerie {
  margin: var(--header-height) 0.8rem 0 0.8rem;
  display: flex;
  color: var(--darkest-color-tone);
  padding-top: 3rem;
}

.galerie-grid {
  display: grid;
  grid-template-rows: repeat(20 1fr);
  grid-template-columns: 1fr;
  row-gap: 8rem;
  margin: var(--section-margin-top) 0.8rem 0 0.8rem;
}

.galerie-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  aspect-ratio: 3/2;
}
.galerie-img-hoch {
  width: 100%;
  -o-object-fit: cover;
  aspect-ratio: 2/3;
}

/*  *********************************
    **********************************
    **********************************
    KONTAKT
    **********************************
    **********************************
    ********************************** */

.contact-address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontakt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--section-margin-top) 0;
  gap: 2rem;
  padding: 1rem;
}

/*  *********************************
    **********************************
    **********************************
    REGISTRATION
    **********************************
    **********************************
    ********************************** */
form.registration-form {
  background-color: var(--lightest-color-tone);
  margin-top: var(--header-height);
  padding: 10rem 20rem;
}

.pre-margin {
  margin-top: var(--header-height);
}
