/* *********************************
  FONTS
  ************************************ */

  @font-face {
    font-family: "Merienda-Regular";
    src: url(../fonts/Merienda-Regular.ttf);
  }


  @font-face {
    font-family: "Overlock-Regular";
    src: url(../fonts/Overlock-Regular.ttf);
  }



      /* *********************************
      BODY
      ************************************ */
body{
  font-family: var(--main-text-font-family);
  font-size: 1.6rem;

}

      /* *********************************
      GENERAL
      ************************************ */

      button{
 font-family: Merienda-Medium";;
      }
      /* *********************************
      HEADER
      ************************************ */



     /* *********************************
      NAVIGATION
      ************************************ */

      .off-screen-link{
        font-family: "Merienda-Regular", sans-serif;
        font-size:1.4rem;
        color:var(--darkest-color-tone);
      }

       /* *********************************
      FORM
      ************************************ */
.form-input{
  font-family: var(--main-text-font-family);
}
.form-label{
  font-weight: bold;
}

.error-message{
  font-family: var(--main-text-font-family);
}




      
        