/* *********************************
  FONTS
  ************************************ */

  @font-face {
    font-family: "Merienda-Regular";
    src: url(../fonts/Merienda-Regular.ttf);
  }

      /* *********************************
      HEADER
      ************************************ */



     /* *********************************
      NAVIGATION
      ************************************ */

      .off-screen-link{
        font-family: "Merienda-Regular", sans-serif;
        font-size:1.4rem;
        color:var(--darkest-color-tone);
      }
      
        